#projects
  each project, index in projects
    .project(style="flex-direction: " + ((index % 2) ? 'row-reverse;' : 'row'))
        .image-container(style="background-image: url("+ project.image +");")
        .content-container
          .content
            .title-container
              each title in project.title
                .title
                  .background #{title}
            .intro #{project.intro}
            .role #{project.role}
            .copy
                each content in project.content
                  p #{content}
            if(project.visit)
              .button 
                a.text(href=project.visit) Visit
            if(project.download)
              .download
                  .text Download for
                  if(project.download.ios)
                    a.store.apple(href=project.download.ios)
                      img(src='assets/apple.svg')
                  if(project.download.android)
                    a.store.android(href=project.download.android)
                      img(src='assets/android.svg')